@model CreateOrEditModel
@{
    Layout = "_LayoutUserManage";
    ViewData["Title"] = "创建/编辑帖子";
    ViewData["ActivePage"] = ManageNavPages.CreateOrEditPost;
}
@section Css {
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.3.2/styles/vs.min.css">
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/lib/3rd/xss.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.3.2/highlight.min.js"></script>
    <script src="//unpkg.com/wangeditor/dist/wangEditor.min.js"></script>
    <script asp-append-version="true">
        //import hljs from 'highlight.js'
        const E = window.wangEditor;
        const editor = new E('#editor');
        editor.config.placeholder = 'Please enter the content here';
        editor.config.height = 500;
        editor.config.uploadImgServer = "/File/Upload";
        editor.config.uploadImgMaxSize = 2 * 1024 * 1024;
        editor.config.uploadImgMaxLength = 5;
        editor.highlight = hljs;
        hljs.initHighlightingOnLoad();
        const $content = $("#content");
        editor.config.onchange = function (html) {
            // 第二步，监控变化，同步更新到 textarea
            var xssHtml = filterXSS(html);
            $content.val(xssHtml);
        }
        editor.create();

        var content = `@Html.Raw(Model.Content)`;

        editor.txt.html(content);
    </script>
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="@TempData["StatusMessage"]" />
<div class="row">
    <div class="col-md-12">
        <form method="post" id="PostForm" asp-controller="Post" asp-action="CreateOrEdit">
            <div class="text-danger" asp-validation-summary="All"></div>
            <input asp-for="PostId" />
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <input asp-for="Title" class="form-control" placeholder="Title" />
                    </div>
                    <div class="form-group">
                        <div id="editor">
                        </div>
                        <input id="content" type="hidden" name="Content" />
                    </div>
                    <button id="submit-button" type="submit" class="btn btn-primary">提交</button>
                </div>
                <div class="col-md-4" style="margin-top:10%;">
                    <div class="card">
                        <div class="card-header">
                            分类
                        </div>
                        <div class="card-body">
                            @if (null != Model.CategoryList && Model.CategoryList.Any())
                            {
                                @foreach (var category in Model.CategoryList)
                                {
                                    <div class="custom-control custom-checkbox">
                                        <input id="cat-@category.Value" name="SelectedCategoryIds" class="custom-control-input" type="checkbox" value="@category.Value"
                                               @(category.IsChecked ? "checked=\"checked\"" : null)>
                                        <label class="custom-control-label" for="cat-@category.Value">
                                            @category.DisplayText
                                        </label>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>