@using Blog.MVC.Models.User
@using Blog.MVC.Models.Post
@using Blog.MVC.Controllers
@model IReadOnlyList<PostListViewModel>

@{
    Layout = "_LayoutUserManage";
    ViewData["Title"] = "管理文章";
    ViewData["ActivePage"] = ManageNavPages.ManagePost;
}

@section head{
    <link href="~/lib/DataTables/datatables.min.css" rel="stylesheet" />
    <style>
        .table .table-item-w20 {
            width: 20%;
        }

        .table .table-item-w30 {
            width: 30%;
        }
    </style>
}

@section Scripts{
    <script src="~/lib/DataTables/datatables.min.js"></script>
    <script>
        $(function () {
            $(".btn-delete").click(function () {
                var cfm = confirm("确认删除?");
                if (cfm) {
                    deletePost($(this).data("postid"));
                }
            });

            $("#posts-table").DataTable({
                "order": [[1, "desc"]],
                "lengthMenu": [[10, 15, 20, 25, 50, -1], [10, 15, 20, 25, 50, "All"]],
                "pageLength": 10
            });
        });

        function deletePost(postid) {
            var csrfValue = $("input[name='__RequestVerificationToken']").val();
            $.ajax({
                type: "DELETE",
                url: `/Post/Recycle/${postid}`,
                data: { "__RequestVerificationToken": csrfValue },
                contentType: "application/x-www-form-urlencoded;",
                success: function (data, textStatus, jqXHR) {
                    alert("删除成功");
                    $(`#tr-${postid}`).hide();
                },
                error: function (data) {
                    alert(data.responseText);
                }
            });
        }
    </script>
}

<partial name="_PostManageHeader" />

@if (Model.Any())
{
    @Html.AntiForgeryToken()
    <table id="posts-table" class="table table-bordered">
        <thead>
            <tr>
                <th>标题</th>
                <th class="table-item-w30">发布时间</th>
                <th class="table-item-w20">选项</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var post in Model)
            {
                <tr id="tr-@post.Id">
                    <td>
                        <a asp-controller="Post" asp-action="Preview"
                           asp-route-postId="@post.Id" target="_blank">
                            @post.Title
                        </a>
                    </td>
                    <td class="text-muted">
                        @post.CreationTime.ToShortDateString()
                    </td>
                    <td class="p-2">
                        <a class="btn btn-outline-primary btn-sm" asp-controller="Post" asp-action="@nameof(PostController.Edit)" asp-route-id="@post.Id">
                            <img src="~/lib/bootstrap-icons-1.1.0/pencil-square.svg" alt="edit" />
                            编辑
                        </a>
                        <a class="btn btn-outline-danger btn-sm btn-delete" data-postid="@post.Id" href="javascript:;">
                            <img src="~/lib/bootstrap-icons-1.1.0/trash.svg" alt="delete" />
                            删除
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <partial name="_NoPosts" />
}