@using Blog.Extensions
@model Blog.ViewModels.Posts.PostPreviewViewModel
@inject IDateTimeResolver _dateTimeResolver

@{
    Layout = "_Layout";
    ViewData["Title"] = "文章预览";
}

@section Head{
    <link href="~/lib/highlight/styles/github-gist.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/lib/highlight/highlight.pack.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            document.querySelectorAll('pre code').forEach((block) => {
                hljs.highlightBlock(block);
            });
        });
    </script>
}

<article class="border p-4" data-postid="@Model.Id">
    <header>
        <h1 class="fs-4 text-success">
            @Model.Title
        </h1>
        <div>
            <time class="post-time" datetime="@Model.CreationTime.ToString("u")" title="GMT @_dateTimeResolver.ToLocalTime(Model.CreationTime)">@_dateTimeResolver.ToLocalTime(Model.CreationTime).ToString("MM/dd/yyyy")</time>
            @if (Model.LastModifyTime.HasValue)
            {
                <span class="post-time">(编辑于 <time>@_dateTimeResolver.ToLocalTime(Model.LastModifyTime.Value).ToString("MM/dd/yyyy HH:mm")</time>)</span>}
        </div>
        <hr />
    </header>
    <section>
        @Html.Raw(Model.Content)
    </section>

    <hr />
    <section>
        <ul class="d-flex flex-row list-unstyled mb-0">
            @foreach (var item in Model.Categories)
            {
                <li>
                    <a class="btn btn-sm btn-success m-1" role="button">
                        @item.CategoryName
                    </a>
                </li>
            }
        </ul>
    </section>
</article>