@using Blog.MVC.Controllers
@using Microsoft.Extensions.Configuration
@inject IConfiguration _configuration

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - 996bug.icu</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @await RenderSectionAsync("head", false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-light border-bottom mb-3">
            <div class="container">
                <a class="navbar-brand" asp-controller="Post" asp-action="@nameof(PostController.Index)">996bug.icu</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse ml-lg-5" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                分类
                            </a>
                            @await Component.InvokeAsync("CategoryMenu")
                        </li>
                    </ul>
                    <form class="form-inline mr-lg-5">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">查找</button>
                    </form>
                </div>
                <partial name="_loginPartial" />
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-lg-5">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted" style="line-height: 30px;">
        <div class="container">
            <div class="row mt-2">
                &copy; @DateTime.Now.Year - 996bug.icu
            </div>
            <div class="row">
                <a class="text-dark" href="http://beian.miit.gov.cn/" target="_blank">@_configuration["SiteSettings:996bug"]</a>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
