<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-controller="User" asp-action="Profile">个人信息</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-controller="User" asp-action="Email">邮箱</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-controller="User" asp-action="ChangePassword">密码</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-controller="User" asp-action="PersonalData">个人数据</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.CreatePostNavClass(ViewContext)" id="post" asp-controller="Post" asp-action="Create">创建/编辑帖子</a></li>
</ul>