@using Blog.Model
@using Blog.MVC.Controllers
@using Blog.Extensions
@model X.PagedList.StaticPagedList<PostViewModel>
@inject IDateTimeResolver DateTimeResolver

@foreach (var post in Model)
{
    <article class="clearfix">
        <div class="d-block">
            <h4 class="post-title mb-3">
                <a asp-action="@nameof(PostController.Preview)" asp-route-postId="@post.Id">
                    @post.Title
                </a>
            </h4>
            <p class="post-content-abstract">@(post.ContentAbstract)</p>
        </div>
        <div class="float-right">
            <span class="d-inline-block mr-5">@DateTimeResolver.ToTimeZone(post.CreationTime)</span>
            <span>@post.UserName</span>
        </div>
    </article>
    <div class="mb-4 d-none d-md-block"></div>
    <hr class="d-none d-md-block" />
}