@using Blog.MVC.Controllers
@using Blog.Extensions
@model X.PagedList.StaticPagedList<Blog.ViewModels.PostViewModel>
@inject IDateTimeResolver _dateTimeResolver

@foreach (var post in Model)
{
    <article class="mt-2">
        <div class="d-block">
            <h4 class="post-title mb-3">
                <a asp-action="@nameof(PostController.Preview)" asp-route-postId="@post.Id">
                    @post.Title
                </a>
            </h4>
            <p class="post-content-abstract">@(post.ContentAbstract)</p>
        </div>
        <div class="clearfix">
            <div class="float-right">
                <span class="d-inline-block mr-5">@_dateTimeResolver.ToLocalTime(post.CreationTime).ToString("yyyy.MM.dd HH:mm")</span>
                <span>@post.UserName</span>
            </div>
        </div>
    </article>
    <hr class="d-none d-md-block" />
}