@using Blog.MVC.Controllers
@using Blog.Extensions
@model X.PagedList.StaticPagedList<Blog.ViewModels.PostViewModel>
@inject IDateTimeResolver _dateTimeResolver

<ul class="list-group list-group-flush">
    @foreach (var post in Model)
    {
<li class="list-group-item">
    <article>
        <h4 class="fs-5">
            <a class="link-success text-decoration-none" asp-action="@nameof(PostController.Preview)" asp-route-postId="@post.Id">
                @post.Title
            </a>
        </h4>
        <p class="post-content-abstract">@(post.ContentAbstract)</p>
        <div>
            <span class="d-inline-block mr-5">@_dateTimeResolver.ToLocalTime(post.CreationTime).ToString("yyyy.MM.dd HH:mm")</span>
        </div>
    </article>
</li>}
</ul>
<hr />